.App {
  text-align: center;
  background-color: #c0abd5;
  color: #40280c;
  min-height: 100vh;
}

.App-header {
  background-color: #4660bb;
  color: #40280c;
  min-height: 10vh;
  display: flex;
  flex-direction: block;
  align-items: end;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-footer {
  background-color: #4660bb;
}

.App-link {
  color: #61dafb;
}
